<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.de.jmg.learn"
    android:versionCode="1953"
    android:versionName="1.953">
    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="23"
        />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logolearn"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
			    <data android:scheme="file"
			          android:mimeType="*/*"
			          android:pathPattern="/.+\\.(((?i)v.{2})|((?i)k.{2}))$"
			          android:host="*"/>
				<action android:name="android.intent.action.VIEW"/>
			    <action android:name="android.intent.action.ACTION_OPEN_DOCUMENT"/>
				<action android:name="android.intent.action.ACTION_CREATE_DOCUMENT" />
				<action android:name="android.intent.action.ACTION_GET_CONTENT" />
			    <category android:name="android.intent.category.DEFAULT" />
			    <category android:name="android.intent.category.BROWSABLE" />
			</intent-filter>
        </activity>
        <activity android:name="br.com.thinkti.android.filechooser.FileChooser"/>
        <activity android:name="org.achartengine.GraphicalActivity"/>
        <activity
            android:name="org.de.jmg.errorintent.ExceptionActivity"
            android:theme="@android:style/Theme.Dialog"
            android:textAppearance="@android:style/TextAppearance.Large"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="org.de.jmg.errorintent" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="br.com.thinkti.android.filechooser.AdvFileChooser"/>
        <activity android:name="org.liberty.android.fantastischmemo.downloader.quizlet.LoginQuizletActivity"/>
    </application>

</manifest>
